
/* LOGO */
/* HEADER */
.container {
	background-image: url(https://raw.githubusercontent.com/tiy-atl-js-q2-2015/Assignments/master/Assignment%2003%20*/assets/header.jpg);
	width: 100%;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans', Sans-Serif;
	overflow: hidden;
}

header {
	text-align: center;
}

.blog {
	text-align: left;
	padding-left: 30px;
	float: left;
}
.about {
	text-align: right;
	padding-right: 30px;
	float: right;
}

h1 {
	color: white;
	font-size: 80pt;
}
/* HEADLINE */
.container2 {
	width: 500px;
	margin-left: auto;
	background: orange;
	font-family: 'Open Sans', Sans-Serif;
}

/* NAV */
.container3 {
	width: 500px;
	height: 30px;
	margin-right: auto;
	background: purple;
	font-family: 'Open Sans', Sans-Serif;
}
nav {
  display: right;
  text-align: right;
  font-size: 24pt;
 }

a {
  color: white;
}

/* WHITE SECTION */
/* AUTHOR DATE */
/* PARAGRAPH 1 */
/* RADICAL */
/* PARAGRAPH 2 */
/* ACTION */

.container4 {
	width: 500px;
	margin-right: auto;
	background: gray;
	font-family: 'Great Vibes', cursive;
}


/* SIDEBAR */
.sidebar {
	width: 500px;
	margin-right: auto;
	background: gray;
	font-family: 'Great Vibes', cursive;
}
/* SIDEBAR CIRCLE & TEXT */
/* SIDEBAR IMAGE */
/* SIDEBAR TEXTS */
/* LINE */
/* POPULAR SECTION */
/* POPULAR TEXT */
/* POPULAR IMAGES */

.container {
  height: 330px;
  width: 100%;
}
.box {
  background-image: url(https://raw.githubusercontent.com/tiy-atl-js-q2-2015/Assignments/master/Assignment%2003%20*/assets/article-image-1.jpg);
  width: 20px;
  height: 10px;
  float: left;
  margin-right: 10px;
  margin-left: 0px;
}
.popular2 {
  background-image: url(https://raw.githubusercontent.com/tiy-atl-js-q2-2015/Assignments/master/Assignment%2003%20*/assets/article-image-2.jpg);
  margin-right: 10px;
  margin-left: 295px;
}
.popular3 {
  background-image: url(https://raw.githubusercontent.com/tiy-atl-js-q2-2015/Assignments/master/Assignment%2003%20*/assets/article-image-3.jpg);
  margin-right: 10px;
  margin-left: 295px;
}
.popular4 {
  background-image: url(https://raw.githubusercontent.com/tiy-atl-js-q2-2015/Assignments/master/Assignment%2003%20*/assets/article-image-4.jpg);
  margin-right: 10px;
  margin-left: 295px;
}
/* FOOTER */
.container6 {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	background: yellow;
}
/* TIY LOGO */
.container7 {
	width: 500px;
	margin-right: auto;
	background: gray;
	font-family: 'Great Vibes', cursive;
}
/* FOOTER NAV */

.footer {
  background: #083452;
  width: 100%;
  height: 80px;
  color: white;
}

.footer img {
  float: left;
  padding: 10px;
}

.footer #tiy {
  float: left;
  display: inline;
}

.footer #copy {
  float: left;
  margin-left: 10px;
}

.footer #items {
  float: right;
  padding-right: 30px;
  margin-top: 14px;
}

.not-active {
  text-decoration: none;
  pointer-events: none;
  cursor: default;
  color: white;
}