/* FOOTER NAV */

.footer {
  background: #083452;
  width: 100%;
  height: 80px;
  color: white;
}

.footer img {
  float: left;
  padding: 10px;
}

.footer #tiy {
  float: left;
  display: inline;
}

.footer #copy {
  float: left;
  margin-left: 10px;
}

.footer #items {
  float: right;
  padding-right: 30px;
  margin-top: 14px;
}

.not-active {
  text-decoration: none;
  pointer-events: none;
  cursor: default;
  color: white;
}