/* FOOTER NAV */

footer {
  background: #083452;
  height: 100px;
  margin-top: 2100px;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  color: #5A788D
}

footer img {
  float: left;
  margin-left: 35px;
  padding-top: 30px;
}

.tiylogo {
  float: left;
  display: inline;
  margin-left: 35px;
}

.copy {
  float: left;
  margin-left: 10px;
  padding-top: 25px;
}

.items {
  float: right;
  padding-right: 120px;
  padding-top: 30px;
}

.not-active {
  text-decoration: none;
  pointer-events: none;
  cursor: default;
  color: #5A788D;
}
